.editEmailButton {
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  padding: 0;
  margin: 4px;
  border-radius: var(--radius-2);
  :global(.icon) {
    font-size: 17px;
  }
}

.page {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.tagInput {
  width: 5em;
}

.separator {
  align-self: center;
  width: 96%;
  height: 1px;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: var(--gray-700);
}
