.editEmailButton {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  padding: 0;
  margin: 4px;
  border-radius: var(--radius-2);
  :global(.icon) {
    font-size: 17px;
  }
}

.page {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.tagInput {
  width: 5em;
}
