.page {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.container {
  display: flex;
  gap: 12px;
}

.options {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
}
.miniProfileContainer {
  overflow: hidden;
  border-radius: var(--radius-12);
  .miniProfile {
    width: 300px;
  }
}

.updateBioBody {
  display: flex;
  flex-direction: column;

  textarea {
    height: 220px;
  }
}

.previewButton {
  align-self: flex-end;
}
