.page {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.sessionsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  gap: 6px;
}

.sessionTitle {
  display: flex;
  align-items: center;
  gap: 4px;
  .icon {
    color: var(--gray-300);
    font-size: 14px;
  }
}
