.avatar {
  width: var(--size);
  height: var(--size);
  user-select: none;
  .avatarInner {
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
  }

  .image {
    object-fit: cover;
  }
  .avatarLetter {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-800);
    background-color: var(--color);
    font-size: calc(var(--size) / 1.9);
    font-weight: bold;
  }

  .avatarWrap {
    position: relative;
    overflow: hidden;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
  }

  .croppedImage {
    position: absolute;
    top: 0;
    left: 0;
    max-width: none;
    height: auto;
    transform: scale(
        calc(var(--size) / ((var(--endX) - var(--startX)) * 1px)),
        calc(var(--size) / ((var(--endY) - var(--startY)) * 1px))
      )
      translate(calc(var(--startX) * -1px), calc(var(--startY) * -1px));
    transform-origin: 0 0;
  }
}

.container {
  position: relative;
}

.earsOverlay {
  position: absolute;
  align-self: flex-start;
  width: 100%;
  height: 100%;
  inset: 0;
  .earImage {
    position: absolute;
    top: calc(var(--ear-offset) * var(--size));
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    object-fit: contain;
  }
  .tailImage {
    position: absolute;
    bottom: calc(var(--tail-bottom) * var(--size));
    left: calc(var(--tail-left) * var(--size));
    width: 100%;
    object-fit: contain;
  }
}
