.checkboxContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  gap: 6px;

  &:hover {
    .checkbox {
      background: var(--gray-600);
      .icon {
        opacity: 0.2;
      }
    }
  }

  &[data-checked="true"] {
    .checkbox {
      background: var(--primary-color);
      .icon {
        opacity: 1;
      }
    }
  }
  .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    padding: 4px;
    border-radius: 2px;
    border-radius: var(--radius-4);
    background: var(--gray-700);

    .icon {
      opacity: 0;
      font-size: 12px;
    }
  }
}
