.main .item {
  border: solid 1px var(--gray-600);
  .expandIcon {
    display: block;
  }
}
.item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: var(--radius-10);
  cursor: pointer;
  user-select: none;
  gap: 6px;
  &:hover {
    background-color: var(--gray-800);
  }

  &[data-selected] {
    &:before {
      position: absolute;
      left: 0;
      width: 2px;
      height: 40%;
      border-radius: var(--radius-max);
      background-color: var(--primary-color);
      content: "";
      transition: 0.2s;
    }
  }

  .expandIcon {
    display: none;
    margin-left: 2px;
    transform: translateY(1px);
    font-size: 16px;
  }
}

:global(.mobileWidth) {
  .dropdownPopup {
    max-height: initial;
  }
}

.dropdownPopup {
  overflow: auto;
  max-height: 300px;

  padding: 4px;
}
