.emojiPicker {
  --overlay-height: 48px;
  position: relative;
  display: flex;
  overflow: hidden;
  height: 100%;
}

.innerEmojiPicker {
  position: relative;
  display: flex;
  overflow: hidden;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.overlay {
  position: sticky;
  bottom: 0;
  left: 0;
  display: none;
  pointer-events: none;
  .overlayContent {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 4px;
    padding-right: 8px;
    border: solid 1px var(--gray-700);
    border-radius: var(--radius-8);
    background: var(--gray-800);
    pointer-events: all;
    gap: 6px;

    .emojiItem {
      flex-shrink: 0;
      padding: 0;
      pointer-events: none;
    }

    .info {
      overflow: hidden;
      min-width: 0;
    }

    .name {
      overflow: hidden;
      color: var(--gray-200);
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 12px;
      font-weight: bold;
    }
    .sub {
      overflow: hidden;
      color: var(--gray-400);
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 12px;
    }
  }
}

.emojiContainer {
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  flex: 1;
  min-height: 0;
  margin-top: 4px;
  scrollbar-gutter: stable;

  > *:first-child {
    min-height: calc(100% - var(--overlay-height));
  }
}
.emojiItem {
  display: flex;
  flex: 0 0 calc(100% / var(--row-count));
  justify-content: center;
  padding: 4px;
  border-radius: var(--radius-4);

  &:hover {
    background-color: var(--gray-700);
  }

  img {
    width: var(--size);
    height: var(--size);
    object-fit: contain;
  }
  .emojiImage {
    width: var(--size);
    height: var(--size);
    background: url(/emoji_sprites_17.webp);
  }
}

.emojiGroup {
  display: flex;
  justify-content: flex-start;
  &[data-type="category"] {
    align-items: center;
    height: 38px;
  }
}

.emojiGroup {
  display: flex;
  justify-content: flex-start;
  min-width: 0;
  &[data-type="category"] {
    align-items: center;
    min-width: 0;
    height: 38px;
  }
}

.groupHeader {
  display: flex;
  overflow: hidden;
  justify-content: center;
  min-width: 0;
  padding: 4px;
  border-radius: var(--radius-4);
  color: var(--gray-200);
  background-color: var(--gray-800);
  font-size: 12px;
  font-weight: bold;
  gap: 6px;

  span {
    overflow: hidden;
    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .groupEmoji {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
  }
  .icon {
    flex-shrink: 0;
    color: var(--gray-400);
    font-size: 16px;
  }
}

.sidebar {
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  flex-shrink: 0;
  width: 36px;
  margin-right: 6px;
  border-radius: var(--radius-8);
  background-color: var(--gray-800);
  &::-webkit-scrollbar {
    display: none;
  }
}
.sidebarItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: var(--radius-4);
  user-select: none;
  &:hover {
    background-color: var(--gray-700);

    &:before {
      height: 20%;
    }
  }

  &:before {
    position: absolute;
    left: 0;
    width: 2px;
    height: 0;
    border-radius: var(--radius-max);
    background-color: var(--gray-500);
    content: "";
    transition: height 0.2s ease-in-out;
  }
  &.active {
    background-color: var(--gray-700);
    &:before {
      height: 40%;
      background-color: var(--primary-color);
    }
    .icon {
      color: var(--gray-100);
    }
  }

  .groupEmoji {
    flex-shrink: 0;
    width: 28px;
    height: 28px;
  }
  .icon {
    flex-shrink: 0;
    color: var(--gray-400);
    font-size: 28px;
  }
}
