.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;

  &:has(.formatBar) {
    gap: 0;
    .inputInnerContainer {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .inputInnerContainer {
    display: flex;
    overflow: hidden;
    align-items: center;
    border: solid 1px var(--gray-700);
    border-radius: var(--radius-10);

    background-color: var(--input-background-color);
    transition: 0.2s border-bottom-color;
    &:has(textarea:focus),
    &:has(input:focus) {
      border-bottom-color: var(--primary-color);
    }
  }
  .input {
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
    color: var(--text-color);
    background: transparent;
    resize: none;
  }
}

.formatBar {
  display: flex;
  flex-shrink: 0;
  padding: 4px;
  border: solid 1px var(--gray-700);
  border-bottom: none;
  border-top-left-radius: var(--radius-10);
  border-top-right-radius: var(--radius-10);
  background-color: var(--input-background-color);

  :global(.button) {
    padding: 4px;
    border-radius: var(--radius-6);
  }
  :global(.icon) {
    font-size: 18px;
  }
}
