.link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }

  &.decoration {
    color: var(--primary-color);
    &:hover {
      text-decoration: underline;
    }
  }
}
