.serverMemberList {
  display: flex;
  overflow: auto;
  flex-direction: column;
  flex-shrink: 0;
  width: 240px;
  height: 100vh;
  gap: 2px;
}

.memberItem {
  display: flex;
  align-items: center;
  padding: 6px 6px;
  gap: 8px;
}
