.settingsBlockGroup {
  display: flex;
  flex-direction: column;
  gap: 2px;
  .settingsBlock {
    &:first-child:not(:last-child) {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:last-child:not(:first-child) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }
}

.settingsBlock {
  display: flex;
  align-items: center;
  min-height: 62px;
  padding: 12px;
  border-radius: var(--radius-16);
  background-color: var(--gray-850);
  gap: 12px;
  &.clickable {
    cursor: pointer;
    &:hover {
      background-color: var(--gray-800);
    }
  }
}

.details {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2px;
  .description {
    color: var(--gray-400);
    font-size: 12px;
  }
}
