.sidebar {
  display: flex;

  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  width: 76px;
  height: 100%;
  background-color: var(--sidebar-bg);

  .scrollable {
    overflow: auto;
    flex: 1;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .serverList {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    padding-top: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-top: solid 1px var(--gray-700);
    gap: 2px;
  }
  .footer {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.sidebarItem {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  width: 64px;
  height: 50px;
  &:before {
    z-index: 11111;
    width: 3px;
  }
  .notifyPill {
    position: absolute;
    top: 6px;
    right: 6px;
  }
}

.folderItem {
  height: initial;
  min-height: 64px;
  padding: 0;
  border-radius: var(--radius-16);
  user-select: none;

  &:after {
    position: absolute;
    opacity: 0.2;
    background: var(--color);
    content: "";
    inset: 0;
  }

  && {
    &:hover {
      background-color: unset;
    }
  }
  &[data-opened="true"],
  &[data-opened="true"] .folderPreview {
    border-radius: var(--radius-8);
  }
  &[data-opened="true"]:before {
    display: none;
  }

  .folderPreview {
    position: absolute;
    z-index: 111;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 64px;
    border-radius: var(--radius-16);
    inset: 0;
    gap: 4px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    .folderIcon {
      color: var(--color);
    }
    .placeholder {
      width: 24px;
      height: 24px;
    }
  }
  .folderServerList {
    position: relative;
    z-index: 1111;
    display: flex;
    flex-direction: column;
    margin-top: 68px;
    gap: 2px;
  }
}

.homeItem {
  margin-top: 4px;
  &:hover {
    .logoContainer {
      background-color: var(--gray-700);
    }
  }
  &[data-selected="true"] {
    .logoContainer {
      background-color: var(--primary-color);
    }
  }
  .logoContainer {
    overflow: hidden;
    flex-shrink: 0;
    width: 42px;
    height: 42px;
    border-radius: var(--radius-max);
    background-color: var(--gray-800);
    transition: background-color 0.2s;
    corner-shape: squircle;
  }
}
