.tabs {
  display: flex;
  gap: 4px;
  .tab {
    padding: 8px;
  }
}
.presets {
  display: grid;
  margin-bottom: 20px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;
  :global(.button) {
    justify-content: start;
  }
}
.title {
  margin-top: 12px;
  margin-bottom: 12px;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  > * {
    flex: 1 1 0;
  }
}

.yearInput {
  flex: 0 0 50px;
  width: 50px;
}

.dropdownDate {
  flex: 1;
}
.timeContainer {
  display: flex;
  margin-top: 12px;

  .dropdownHours :global(.item) {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .dropdownMins :global(.item) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  input {
    text-align: center;
    font-size: 32px;
  }
}
