.userPresence {
  display: flex;
  align-items: center;
  .dot {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--color);
  }

  .icon {
    color: var(--color);
    font-size: 12px;
  }

  .text {
    overflow: hidden;
    margin-left: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
  }
  .count {
    color: var(--gray-400);
    font-size: 10px;
  }
}
