.userActivity {
  display: flex;
  flex-direction: column;

  &[data-rich="true"] {
    gap: 6px;
  }
}

.userPresence {
  :global(.text) {
    font-size: 14px;
  }
  :global(.icon) {
    font-size: 14px;
  }
}

.playingFor {
  color: var(--gray-300);
  font-size: 14px;
  font-variant: tabular-nums;
}

.richActivity {
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: var(--radius-10);
  background-color: var(--gray-800);
  gap: 6px;

  .activityImage {
    width: 60px;
    height: 60px;
    border-radius: var(--radius-4);
    object-fit: contain;
    &[data-video="true"] {
      width: initial;
      background-color: black;
      object-fit: cover;
      aspect-ratio: 16/9;
    }
  }
  .richDetails {
    flex: 1;
    .subtitle {
      color: var(--gray-400);
      font-size: 12px;
    }
  }
}

.progressContainer {
  margin-top: 2px;
  .info {
    display: flex;
    justify-content: space-between;
    color: var(--gray-400);
    font-size: 12px;
    font-variant: tabular-nums;
  }
  .progressBar {
    overflow: hidden;
    height: 4px;
    margin-top: 2px;
    border-radius: var(--radius-max);
    background-color: var(--gray-600);
  }
  .progress {
    height: 100%;
    border-radius: var(--radius-max);
    background-color: var(--primary-color);
  }
}
