.mobile {
  .sidebar {
    width: initial;
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  padding-left: 4px;
  place-self: center;
  gap: 8px;
}

.content {
  width: 100%;
  min-width: 0;
  .banner {
    overflow: hidden;
    border-radius: var(--radius-16);
    transition: filter 0.2s;
    filter: brightness(70%);
    &:hover {
      filter: none;
    }
  }
  .overlayInfo {
    position: relative;
    z-index: 111;
    margin-top: -64px;
    margin-bottom: 10px;
    margin-left: 18px;
  }
}
.actions {
  display: flex;
  justify-content: end;
  padding: 14px;
  padding-right: 0;
  margin-top: -74px;
  &.mobileActions {
    justify-content: initial;
    padding: 0;
    margin-top: 6px;
    .actionsInner {
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
    }
  }
  .actionsInner {
    display: flex;
    padding: 4px;
    border-radius: 22px;
    background-color: var(--gray-850);
    gap: 6px;
    button {
      z-index: 1111;
      border-radius: var(--radius-max);
      :global(.label) {
        color: var(--gray-200);
      }
    }
  }
}

.section {
  padding: 12px;
  border-radius: var(--radius-16);
  background-color: var(--gray-850);
}

.bioSection {
  margin-top: 6px;
}

.detailsSection {
  font-size: 16px;
  .nameAndTag {
    margin-bottom: 6px;
    .username {
      --font-size: 16px;
    }
    .tag {
      opacity: 0.6;
    }
    .clan {
      margin-left: 6px;
    }
    .followsYou {
      padding: 6px;
      padding-top: 2px;
      padding-bottom: 0;
      border-radius: var(--radius-6);
      color: var(--gray-100);
      background-color: var(--gray-800);
      font-size: 12px;
    }
  }

  .stats {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6px;
    color: var(--gray-400);
    font-size: 14px;
    gap: 8px;
    .full {
      color: var(--gray-100);
    }
  }
  .bio {
    overflow: auto;
    max-height: 800px;
    padding-top: 26px;
    font-size: 14px;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 300px;
  gap: 6px;
}

.activity {
  padding: 12px;
  &[data-video="true"] :global(.richActivity) {
    flex-direction: column;
    img {
      width: 100%;
      max-width: 360px;
      height: initial;
    }
  }
}
.activities {
  display: flex;
  flex-direction: column;
  gap: 6px;
  :global(.richActivity) {
    padding: 0;
    padding-top: 10px;
    background-color: transparent;

    &[data-media-progress="true"] {
      align-items: stretch;
    }

    img {
      width: 80px;
      height: 80px;
    }
  }
}

.sidebarItem {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border-radius: var(--radius-16);
  background-color: var(--gray-850);
  .title {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: var(--radius-16);
  }
  .icon {
    margin-right: 4px;
    color: var(--primary-color);
    font-size: 14px;
  }
  .info {
    padding: 12px;
    padding-top: 0;
    opacity: 0.6;
  }
}
.joinedAtItem {
  cursor: pointer;
  &:hover {
    background-color: var(--gray-800);
  }
  .title {
    padding-bottom: 6px;
  }
}

.sidebarItem.mutual {
  &.botCreator {
    .title {
      pointer-events: none;
    }
  }
  .title {
    cursor: pointer;
    user-select: none;
    &:hover {
      background-color: var(--gray-800);
    }
  }
}
.mutualList {
  display: flex;
  flex-direction: column;
  padding: 4px;
  padding-top: 0;
}
.mutualItem {
  display: flex;
  overflow: hidden;
  align-items: center;
  padding: 6px;
  border-radius: var(--radius-14);
  cursor: pointer;
  gap: 8px;
  &:hover {
    background-color: var(--gray-800);
  }
}

.expanded .expandIcon {
  transform: rotate(180deg);
}
.expandIcon {
  margin-left: auto;
  opacity: 0.6;
  transform: rotate(0);
}

.badgesContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 8px;
  margin-inline: 8px;
  gap: 6px;
  .separator {
    width: 4px;
    height: 4px;
    border-radius: var(--radius-max);
    background-color: var(--gray-600);
  }
  .badgeItem {
    display: flex;
    align-items: center;
    padding-top: 2px;
    padding-right: 6px;
    padding-bottom: 2px;
    padding-left: 6px;
    border-radius: var(--radius-max);
    color: var(--gray-800);
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    gap: 4px;
    &:hover {
      opacity: 0.8;
    }
    .icon {
      color: var(--gray-800);
      font-size: 12px;
    }
  }
}
