.editMessageIndicator {
  display: flex;
  overflow: hidden;
  align-items: center;
  align-self: start;
  max-width: 100%;
  height: 22px;
  padding: 2px;
  padding-right: 8px;
  margin-top: 4px;
  border: solid 1px var(--gray-600);
  border-radius: var(--radius-max);
  color: var(--text-color);
  background: var(--gray-900);
  font-size: 12px;
  gap: 4px;
  &.hide {
    display: none;
  }
  .icon {
    margin-left: 4px;
    color: var(--primary-color);
    font-size: 16px;
  }
  .text {
    overflow: hidden;
    opacity: 0.8;
    text-overflow: ellipsis;
    .markup {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
