.inputSuggestions {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding: 6px;
  margin-top: 4px;
  border: solid 1px var(--gray-600);
  border-radius: var(--radius-12);
  color: var(--text-color);
  background: var(--gray-900);
  font-size: 14px;
  &.hide {
    display: none;
  }
}

.suggestionItem {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  border-radius: var(--radius-6);
  color: var(--text-color);
  font-size: 14px;
  gap: 8px;
  &:hover {
    background-color: initial;
  }
  &[data-selected="true"] {
    background: var(--gray-600);
    .returnIcon {
      display: block;
    }
    .name {
      opacity: 1;
    }
  }
  .name {
    opacity: 0.6;
  }

  .args {
    color: var(--text-muted);
  }
  .description {
    color: var(--text-muted);
    font-size: 12px;
  }

  .icon {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  .right {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: var(--text-muted);
    gap: 4px;
  }
  .specialIcon {
    color: var(--gray-400);
    font-size: 16px;
  }
  .returnIcon {
    display: none;
    font-size: 18px;
  }
}
