.messagePane {
  --padding-right: 0;
  --mobile-padding-right: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .logs {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    padding-left: 4px;
  }
  .bottomSentinel {
    flex-shrink: 0;
    height: 1px;
  }
  .hide {
    display: none;
  }
}
