.sidebar {
  display: flex;

  overflow: auto;
  align-items: center;
  flex-direction: column;
  width: 50px;
  height: 100vh;
  gap: 10px;
  &::-webkit-scrollbar {
    display: none;
  }
}

.serverItem {
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 50%;
}
