:root {
  --background: black;
  --text-color: #ffffff;
  --text-muted: hsl(220, 6%, 50%);
  --primary-color: #3e88ff;
  --primary-dark: #0b1a33;
  --alert-color: #eb5c5c;
  --warn-color: #f1750f;
  --item-bg: var(--gray-800);

  --input-background-color: black;

  --markup-mention-background-color: var(--gray-800);
  --markup-mention-background-color-hover: var(--gray-700);
  --drawer-bg: var(--gray-900);
  --sidebar-bg: var(--background);

  --gray-50: hsl(220, 0%, 95%);
  --gray-100: hsl(220, 0%, 90%);
  --gray-200: hsl(220, 0%, 80%);
  --gray-300: hsl(220, 0%, 70%);
  --gray-400: hsl(220, 0%, 50%);
  --gray-500: hsl(220, 0%, 40%);
  --gray-600: hsl(220, 0%, 30%);
  --gray-700: hsl(220, 0%, 20%);
  --gray-800: hsl(220, 0%, 10%);
  --gray-900: hsl(0, 0%, 5%);

  --radius-max: 9999px;
  --radius-4: 4px;
  --radius-5: 5px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;

  --status-offline: #adadad;
  --status-online: #78e380;
  --status-looking-to-play: #3b82f6;
  --status-away-from-keyboard: #ff8f2c;
  --status-do-not-disturb: #eb6e6e;
}

html,
body {
  overflow: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  overscroll-behavior-x: none;
}
body {
  color: var(--text-color);
  background-color: var(--background);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

#app {
  display: flex;
  height: 100%;
}

.contentPane {
  display: flex;
  overflow: hidden;
  flex: 1;
}

.material-symbols-rounded.o {
  font-variation-settings: "FILL" 0;
}
.material-symbols-rounded {
  font-variation-settings: "FILL" 1;
}

#portal .scrollbarHover,
body .scrollbarHover {
  overflow: auto;
  padding-right: var(--mobile-padding-right, 6px);
}
#portal:not(.mobileAgent),
#app:not(.mobileAgent) {
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-track {
    border-radius: var(--radius-6);
  }
  ::-webkit-scrollbar-thumb {
    border-radius: var(--radius-6);
    background-color: var(--primary-color);
  }
  .scrollbarHover {
    overflow-y: scroll;
    padding-right: var(--padding-right);

    &:hover {
      /* for some reason, i have to add something here or else hover breaks in production build */
      float: initial;
      &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color);
      }
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
  }
}

a {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/*
Remove mobile blue highlight on tap 
*/

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}


