:root {
  --background: black;
  --text-color: #ffffff;
  --text-muted: hsl(220, 6%, 50%);
  --primary-color: #3b82f6;
  --item-bg: var(--slate-800);

  --markup-mention-background-color: var(--slate-800);
  --markup-mention-background-color-hover: var(--slate-700);

  --slate-50: hsl(220, 15%, 95%);
  --slate-100: hsl(220, 15%, 90%);
  --slate-200: hsl(220, 15%, 80%);
  --slate-300: hsl(220, 15%, 70%);
  --slate-400: hsl(220, 15%, 50%);
  --slate-500: hsl(220, 15%, 40%);
  --slate-600: hsl(220, 15%, 30%);
  --slate-700: hsl(220, 15%, 20%);
  --slate-800: hsl(220, 15%, 10%);
  --slate-900: hsl(220, 15%, 5%);

  --radius-max: 9999px;
  --radius-4: 4px;
  --radius-5: 5px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
}

html,
body {
  padding: 0;
  margin: 0;
}
body {
  color: var(--text-color);
  background-color: var(--background);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

#app {
  display: flex;
}

.contentPane {
  display: flex;
  flex: 1;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  border-radius: var(--radius-6);
  background: var(--slate-800);
}
::-webkit-scrollbar-thumb {
  border-radius: var(--radius-6);
  background-color: var(--primary-color);
}
